@{
    ViewData["Title"] = "Books";
}

<div style="top:30px;">
    <button type="button" onclick="location.href = '@Url.Action("Index","Books")'" class="btn btn-dark">Books</button>
    <!--   <a class="btn btn-primary text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a> -->
</div>